.latestProducts {
  width: 100%;
  background-color: $color-white-3;

  &__center {
    @include CenterContainer();
    padding: $padding-big-screen;

    text-align: center;

    @include MediaQuery(700px) {
      padding: 3rem $padding-ms-screen;
    }

    h1 {
      margin-bottom: 3rem;
    }

    &__card {
      box-shadow: $light-shadow;
      cursor: pointer;
    }
  }
}
