.empty {
  height: 100%;
  width: 100%;

  &__center {
    padding: $padding-big-screen;
    display: grid;
    place-content: center;
    height: 100%;

    @include CenterContainer();

    @include MediaQuery(700px) {
      padding: $padding-big-screen $padding-ms-screen;
    }
  }
}
