// Colors
$primary: #553555;
$color-dark: #18181b;
$color-white: #fff;
$color-white-2: #fbfcff;
$color-white-3: #f4faff;
$color-gray: #696969;
$color-gray-2: #8c8c8c;
$color-gray-3: #eaeaea;

$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

$font-primary: "Lora", serif;
$font-secondary: "Montserrat", sans-serif;

$padding-big-screen: 3rem;
$padding-ms-screen: 1.5rem;
